<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books & Authors</title>
</head>
<body>
    <div class="container">
        <div class="bookform">
            <form action="/addAuthor" method="post">
                {% csrf_token %} 
                <h2>Add an Author</h2>
                <p>First Name: <input type="text" name="newFirstName"></p> 
                <p>Last Name: <input type="text" name="newLastName"></p> 
                <p>Notes: <input type="textarea" name="newNotes"></p>
                <input type="submit" value="Add" name="addAuthor">
            </form>
        </div>
        <div class="booktable">
            <table name="allAuthors">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
                {% for a in authors %}
                <tr>
                    <td>{{a.id}}</td>
                    <td>{{a.first_name}} {{a.last_name}}</td>
                    <td><a href="/authors/{{a.id}}"></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>